@-webkit-keyframes pulse {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
.walkthru-circle {
    border: 5px solid rgba(0, 127, 200, 0.8);
    box-shadow: 0px 0px 18px rgba(0, 127, 200, 0.9);
    border-radius: 10000px;
    pointer-events: none;
    position: absolute;
    -webkit-animation: pulse 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transition: left 0.7s, top 0.8s, width 0.5s, height 0.5s;
}
