.walkthrumaker-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #222;
    min-height: 30px;
    box-shadow: 0px 0px 18px #222;
}
.walkthrumaker-container .timeline {
    
}
.walkthrumaker-container .controls {

}
.walkthrumaker-container input[type=text] {
    border: 1px solid #666;
    background: #444;
    color: #fff;
    padding: 0.5em;
    border-radius: 2px;
    margin: 3px;
    -webkit-transition: background 0.1s, color 0.1s;
}
.walkthrumaker-container input[type=text]:hover {
}
.walkthrumaker-container input[type=text]:focus {
    outline: none;
}
.walkthrumaker-container input[type=text]:active {
    outline: none;
}


.walkthrumaker-container button {
    border: 0;
    background: #444;
    color: #f90;
    padding: 0.5em 1em;
    border-radius: 2px;
    margin: 3px;
    -webkit-transition: background 0.1s, color 0.1s;
}
.walkthrumaker-container button:hover {
    background: #666;
    color: #fa1;
}
.walkthrumaker-container button:focus {
    background: #666;
    color: #fa1;
    outline: none;
}
.walkthrumaker-container button:active {
    background: #888;
    color: #fff;
    outline: none;
}


.walkthrumaker-timeline .slide {
    display: inline-block;
    color: #fff;
    font-family: 'Lucida Grande';
    font-weight: normal;
    font-size: 11px;
    background: #444;
    border: 1px solid #444;
    border-radius: 3px;
    padding: 0.5em;
    margin: 3px;
    -webkit-transition: background 0.1s, color 0.1s, border 0.1s;
}
.walkthrumaker-timeline .slide:hover {
    background: #666;
    border-color: #999;
}
.walkthrumaker-timeline .slide.active {
    background: #666;
    border-top: #999;
}
